.conteudo {
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  
  .primeira-coluna {
    width: 50vw;
    height: 100vh;
    position: absolute;
    left: 0;
    background-image: url(../imagens/recados.jpg);
    background-size:cover;
  }
  
  .segunda-coluna {
    width: 50vw;
    height: 100vh;
    position: absolute;
    right: 0;
  }
  
  div.row {
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  
  div.row.container-cadastro {
    height: 90vh;
    display: flex;
    justify-content: flex-end;
  }
  
  .titulo {
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 10PX;
  }
  
  .formulario {
    margin: 20px;
    
  }
  
  input.cadastro {
    display: block;
    margin-bottom: 15px;
    width: 415px;
  }
  
  input {
    width: 250px;
    height: 40px;
    font-size: 20px;
    padding-left: 5px;
    border: 1px solid darkgrey;
    color: black;
    outline: none;
  }
  
  input:hover {
    border: 1px solid grey;
  }
  
  input.btn-cadastro {
    display: block;
    margin-top: 20px;
    width: 425px;
    height: 40px;
    background: #04911c;
    color: #fff;
    border: 1px solid #eee;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    opacity: 0.8;
    font-size: 18px;
  }
  
  
  button:hover {
    opacity: 1;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
  }
  
  tr.informacoes:hover {background-color: #D6EEEE;}
  
  
  h1{
    margin-top: 50px;
    margin-bottom: 10px;
  }

    h3 {
      margin-top: 50px;
      margin-bottom: 10px;
    }
  
  section#principal{
   margin-left: 15px;
   position: relative;
   display: flex;
    flex-direction: column;
    align-items: flex-start;
  top: 24vh;
  }

    section#principalCard {
      margin-left: 15px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      top: 0vh;
    }
  
  button.inf_botao{
    width: 80px;
    height: 25px;
    cursor: pointer;
  }
  
  button#inf_botao_editar{
    background-color: blue;
    border: none;
    border-radius: 20px;
    color:white;
  }
  
  button#inf_botao_apagar{
    background-color: red;
    border: none;
    border-radius: 20px;
    color:white;
    cursor: pointer;
  }
  
  input#enviar_info{
    width: 100px;
    height: 35px;
    background-color: green;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color:white;
    cursor: pointer;
  }
  
    input#botao_atualizarUser, input#botao_atualizar{
    width: 100px;
    height: 35px;
    background-color: green;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color:white;
    cursor: pointer;
    display: none;
  }
  
    input#botao_cancelarUser, input#botao_cancelar{
    width: 100px;
    height: 35px;
    background-color: red;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color:white;
    cursor: pointer;
    display: none;
  }
  
  #sair {
    position: absolute;
    right: 3vw;
    top: 2vh;
    
  }

   #botaoSairUser, #sairUser {
      position: absolute;
      right: 3vw;
      top: 2vh;
  
    }

    

  #topo{
    background-color:#fff;
      box-shadow: 7px 7px 13px 0px rgba(126, 179, 73, 0.5);
    height: 25vh;
    position: fixed;
      width: 100%;
      display: flex;
      flex-direction: row;
      top: 0;
      z-index: 999;
  }

  #avatar{
    background-image: url('/public/imagens/avatar.png');
      background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
      width: 10vw;
        height: 23vh;
        margin-right: 3vw;
        margin-bottom: 50px;
        transform: scaleX(-1);
  }

  #userHome{
    color: black;
    font-size: x-large;
  }

  #userHome2{
    color: #a63232;
  }

  #recados{
    position: fixed;
    display: flex;
    height: 15vh;
    margin-left: 80vw;
    z-index: 999;
    margin-top: 2vh;
   
    /* box-shadow: 7px 7px 80px 20px; */
  }
    /* #formCadastr{
      margin: 10px;
    } */

    #inputCdtr{
      margin-bottom: 15px;
    }

  /* margin-bottom: 5px */

  #modalCadastrar{
    height: 80vh;
    width: 80vw;
  }

  .row-card {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
    div#row-card {
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    position: relative;
    flex-direction: column;
    align-items: center;
     padding: 30px;
  }  
  
  
  #row-card {
    display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      align-items: center;
      align-content: center;
      width: 80vw;
      margin-left: 0vh;
        margin-top: 30vh;
  }

  #modalCadast{
  height: 10vh;
    margin-left: 35px;
    position: relative;
    top: 10vh;
  }

  .card {
  border-radius: 20px;
  box-shadow: 7px 7px 13px 0px rgb(50 50 50 / 22%);
  padding: 5px;
    width: auto;
    text-align: center;
    margin: 8px;
  transition: all 0.3s ease-out;
  display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    align-items: stretch;
    flex-flow: wrap;
    flex-direction: row;
  /* background: linear-gradient(to right,rgba(144, 203, 44, 0.8),rgba(144, 203, 44, 0.6)); */
}

.registro{
  margin: 0;
    width: 5vw;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 12px;
}

.modlcarro{
  width: auto;
  display: flex;
    justify-content: space-between;
}

p{
  color: #a63232;
}

.nome{
  margin: 0px;
    width: 40vw;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: initial;
    font-size: 16px;
    margin-bottom: 12px;
}

.idade {
  margin: 0px;
    width: 11vw;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: initial;
    font-size: 16px;
    margin-bottom: 12px;
}

.rua {
margin: 0px;
  width: 30vw;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  flex-direction: initial;
  font-size: 16px;
  margin-bottom: 12px;
}

.numrua {
  margin: 0px;
    width: 15vw;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: initial;
    font-size: 16px;
    margin-bottom: 12px;
}

.bairro {
  margin: 0px;
    width: 20vw;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: initial;
    font-size: 16px;
    margin-bottom: 12px;
}

.cidade {
      margin: 0px;
        width: 25vw;
        padding: 0px;
        display: flex;
        justify-content: space-around;
        flex-direction: initial;
        font-size: 16px;
        margin-bottom: 12px;
}

.fone {
  margin: 0px;
  width: 20vw;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  flex-direction: initial;
  font-size: 16px;
  margin-bottom: 12px;
}

.cnh {
  margin: 0px;
  width: 20vw;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  flex-direction: initial;
  font-size: 16px;
  margin-bottom: 12px;
}

.categCnh {
  margin: 0px;
    width: 15vw;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: initial;
    font-size: 16px;
    margin-bottom: 12px;
}

.datacnh {
  margin: 0px;
  width: 20vw;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  flex-direction: initial;
  font-size: 16px;
  margin-bottom: 12px;
}

.validadecnh {
  margin: 0px;
  width: 20vw;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  flex-direction: initial;
  font-size: 16px;
  margin-bottom: 12px;
}

.modlcarro {
  margin: 0px;
  width: 20vw;
  padding: 0px;
  display: flex;
  justify-content: stretch;
  flex-direction: initial;
  font-size: 16px;
  margin-bottom: 12px;
}

.corcarro {
  margin: 0px;
  width: 20vw;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  flex-direction: initial;
  font-size: 16px;
  margin-bottom: 12px;
}

.anocarro {
  margin: 0px;
  width: 20vw;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  flex-direction: initial;
  font-size: 16px;
  margin-bottom: 12px;
}

.acoes {
  margin: 0px;
    width: 30vw;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: initial;
    font-size: 16px;
    margin-bottom: 12px;
}

#txt{
  text-align: center;
  color: #ca4e1d;
  font-size: larger;
  text-shadow: 15px 5px 10px rgb(208, 97, 49);
}

.descricao {
  display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 12px;
}

.col-user{
  display: flex;
  justify-content: flex-end;
}
  
  #botaoSair {
    border-radius: 20px;
    cursor: pointer;
    z-index: 999;
  }

  #botaoSairUser {
       border-radius: 20px;
       cursor: pointer;
       z-index: 999;
  }
  
  #botaoSair::after {
    content: " ";
    width: 60%;
    height: 2px;
    background-color: #a63232;
    position: absolute;
    left: 0.5vw;
    bottom: 0;
    transform: scaleX(0);
    transform-origin:unset;
    transition: transform .25s ease;
  }

    #botaoSairUser::after {
      content: " ";
      width: 60%;
      height: 2px;
      background-color: #a63232;
      position: absolute;
      left: 0.5vw;
      bottom: 0;
      transform: scaleX(0);
      transform-origin: unset;
      transition: transform .25s ease;
    }
  
  #botaoSair:hover::after {
    transform: scaleX(1);
  }

     #botaoSairUser:hover::after {
      transform: scaleX(1);
    } 
  
    a{
      width: 5vw;
      height: 10vh;
    } 

    .relfete-esquerda{
      /* -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1); */
        transform: scaleX(-1);
    }
    .form-user{

      display: flex;
      position: relative;
      top: 30vh;
    }
